*{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    align-items: center;
       
}
.logo-header{
    height: 90px;
}
.flex{
    display: flex;
    flex-direction: column;
    font-size: 20px;
     
     
    
    
}
.conteudo-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
}
.conteudo-secundario-paragrafo{
    display: flex;
    flex-direction: column;
    font-size: 15px;
    padding: 3px;
    gap: 10px;

}
.conteudo-secundario-titulo{
    font-size: 20px;
}
.image{
    display: flex;
    flex-direction: column;
}
.h-1{
    display: flex;
    text-align: center;
    font-size: 15px;
}
.trampo{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    padding: 2px;
}
.texto{
    font-size: 15px;
}
.rodade{
    display: flex;
    height: 90px;
}