@import url('https://fonts.googleapis.com/css2?family=Barriecito&family=Black+Ops+One&family=Cinzel&family=Exo:wght@100&family=IBM+Plex+Sans:ital,wght@1,100&family=Kalam:wght@300&family=Montserrat:wght@300&family=Pacifico&display=swap');


* {
    margin: 0;
    padding: 0;
    
}

a{
    text-decoration: none;
}
.container{
    display: flex;
    justify-content: space-around;
    background-color: #706c6c; 
    box-shadow: 10px 10px 8px #ad9552ad; 
    
    
   
}
.flex{
    font-family: 'Cinzel', serif;
    display: flex;
    align-items: center;
    gap: 50px;
    margin: 15px;
    font-size: 20px;
}
.home{color: rgb(251, 251, 251);}
.sobre{ color: #ad9552}
.contato{color: rgb(253, 253, 253);}
.sumary{color: rgb(173, 149, 81);}
.site{color: rgb(250, 247, 247);}

.conteudo-principal{
    font-family: 'Cinzel', serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 40px;
    gap: 15px;
    font-size: 30px;
}

.conteudo-secundario-paragrafo{
    font-family: 'Cinzel', serif;
    font-weight: 300;
    font-size: 25px;
    
    
}
.conteudo-secundario-titulo{
    margin-bottom: 48px;
    border-top: 0.4px solid #ffff;
    padding-top: 48px;
}
span{
    color: rgb(173, 149, 81);
}
.image{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    margin-top: 20px;
    background-color: #706c6c;
    

}
.h-1{
    margin: 20px;
    display: flex;
    justify-content: center;
    font-size: 30px;
}
#trampo{
    display: flex;
    justify-content: space-around;
    margin: 35px;
    gap: 5px;
    align-items: center;
      
}
.foto:hover{cursor: pointer; scale: 1.2; }
/*
.btn1{
    border: none;
    background-color: rgb(173, 149, 81); 
   display: block;
    height: 40px;
    width: 45px;
    justify-content: center;
    align-items: center;
    position: absolute;
    cursor: pointer;
    left: 0;
    z-index: +1;
}
.btn2{
    border: none;
    background-color: rgb(173, 149, 81); 
   display: block;
    height: 40px;
    width: 45px;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    cursor: pointer;
}
*/
.container-artigo{
    margin-top: 60px;
    margin: 15px;
    padding: 15px;
}

.artigo{
 display: flex;
 gap: 30px;
 padding: 20px;
 margin-left:30px ;
 }
.article{
    font-size: 20px;
}
.h1{
    text-align: center;
}
.passo{
    display: flex;
    justify-content: space-between;
    margin: 20px;
    font-size: 20px;
    

}
.container-teste{
    display: flex;
    margin: 15px;
    padding: 6px;
    
}

footer{
   text-align: center;
}

 

